body
{   
    height:100vh;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.p1
{
    display: flex;
    flex-direction: column;
    border: solid black;
    width: 70%;
    align-items:center;
}
#enlace
{
    border: red solid;
    width:100%;
    display:flex;
    justify-content: space-between;
}
.p2
{
    display: flex;
    flex-direction: column;
    border: solid black;
    width: 70%;
    align-items:center;
}
#enlace2
{
    background-color: aqua;
    border: red solid;
    width:100%;
    display:flex;
    justify-content: space-between;
}
.abajo
{
    order: 3;
}
